@charset "utf-8";
/* CSS Document */
#header
{
	position:fixed;
	background-color:white;
	margin-left:36%;	
	border-radius:20PX;
}
#menutrai
{
	border-radius:7px;
	border-color:rgba(0,255,51,1);	
	width:200px;
	color:white;
	font-weight:bold;
	font-size:16px;
	padding-top:150px;
	float:left;
}

ul
{
	text-decoration:none;
	list-style-type:none;
}
ul li
{
	line-height:17px;
	border-color:#0F3;
	background:	-webkit-linear-gradient(45deg, yellow,#80F2F9,white);
	border-radius: 7px;
	margin-left:-10px;
	height:25px;
	width:190px;
	padding-top:10px;
	padding-left:20PX;
}
#noidung
{	
	float:left;	margin:110px;
	padding-left:-30px;
}
#footer
{
	margin-bottom:0px;
	margin-left:-10px;
	margin-right:0px;
	background-color:rgba(0,227,227,1);
	color:white;
	font-size:16px;
	width:110%;
	height:50px;
	clear:left;
}