body
{
	background: -webkit-repeating-radial-gradient(center, #EDE515, #0CF6E8,#89EDF1,#FFFFFF);
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}
.logophai
{
	animation: chuyendong1 1s ease-out 0s 1 normal;
}
@keyframes chuyendong1
{
	 from{ transform: translateX(50px); opacity: 0;  } 
	 to { transform: translateX(0px); opacity: 1;  }
}
.logotrai
{
	animation: chuyendong2 1s ease-out 0s 1 normal;
}
@keyframes chuyendong2
{
	 from{ transform: translateX(-50px); opacity: 0;  } 
	 to { transform: translateX(0px); opacity: 1;  }
}
.logo
{
	color: #DF5757;
	font-size: 80px;
	font-weight: bold;
}
.stu1
{
	color: blue;
}
.stu2
{
	color: red;
}
.inputdn
{	
	border-radius: 7px !important; 
	margin: 8px 0px !important; 
	padding: 10px 20px  ; 
	background: rgba(255, 255, 255, 1) !important; 
	color: rgba(237,0,229,1.00) !important;
}
.inputdn :focus
{
	outline: none;
}
.labelinput
{
	color: #767272;
}
.inputdnphai
{
	animation: chuyendong3 1s ease-out 0s 1 normal;
}
@keyframes chuyendong3
{
	 from{ transform: translateX(200px); opacity: 0;  } 
	 to { transform: translateX(0px); opacity: 1;  }
}
.inputdntrai
{
	animation: chuyendong4 1s ease-out 0s 1 normal;
}
@keyframes chuyendong4
{
	 from{ transform: translateX(-200px); opacity: 0;  } 
	 to { transform: translateX(0px); opacity: 1;  }
}
.sbm
{
	border-radius: 7px;
	margin: 8px auto ;
	width: 215px;
	height: 40px;
	color: rgba(90,95,64,1.00);
	font-weight: bold;
	background:rgba(10,65,241,0.2);
}
.sbm:focus
{
	outline: none;
}
.baoloi
{
	color: red;
}