@charset "utf-8";
/* CSS Document */
#header
{
	position:absolute;
	background-color:white;
	margin-left:36%;	
	border-radius:20PX;
}
#menutrai
{
	border-radius:7px;
	border-color:rgba(0,255,51,1);	
	width:100%;
	color:white;
	font-weight:bold;
	font-size:16px;
	padding-top:150px;
}
.chucnangnv
{
	border-radius:7px;
	border-color:rgba(0,255,51,1);
	color:white;
	font-weight:bold;
	font-size:26px;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 110px;
	background:-webkit-repeating-radial-gradient(center, red, yellow,#89EDF1);
	width: 150px;
	height: 150px;
	text-align: center;
	float: left;
}

ul
{
	text-align: center;
	list-style-type:none;
	text-align: center;
}
li 
{
	line-height:17px;
	border-color:#0F3;
	background:	-webkit-linear-gradient(45deg, yellow,#80F2F9,#99FFFF);
	border-radius: 20px;
	height:25px;
	width:150px;
	padding-top:10px;
	display: inline-block;
}
li a
{	
	text-decoration: none;
	color: inherit;
}
#noidung
{		
	padding-left:17%;
	float: left;
}
#footer
{
	margin-bottom:-10px;
	margin-left:-10px;
	margin-right:0px;
	background-color:rgba(0,227,227,1);
	color:white;
	font-size:16px;
	width:110%;
	height:50px;
	clear:left;
	margin-top: 500px;
}
.1
{
	text-decoration: none;
	color: 66CCFF;
}
#tieude
{
	font-family: 'Comic Sans MS';
	color: blue;
}
td a
{
	text-decoration: none;
	color: blue;
	font-size: 30px;
}


