.nvnhap
{
	font-size: 18px;
}
.gui
{
	border-radius: 7px;
	height: 40px;
	width: 100px;
	background: #CCFF66;
	color: blue;
	font-size: 15px;
}
.rs
{
	border-radius: 5px;
	height: 30px;
	width: 80px;
	background: #CCFF66;
	color: blue;
	font-size: 15px
}
.vien
{
	border-radius: 5px;
	height: 20px;

}
.gui:focus
{
	outline: none;
}
.gt1
{
	font-size: 15px;
}