@charset "utf-8";
/* CSS Document */
/* Background style */
.bg {
        background: url('../img/skulls.png') top left repeat;
        position: fixed;
        height: 2000px;
        width: 100%;
        top: 0;
        z-index: -1; /* Dùng z-index để cho class bg nằm dưới cùng các element khác */
}
/* Content style */
.content {
        color: #888;
        text-align: center;
        margin: 0 auto;
        width: 960px;
        position: relative;
		animation: dichuyen 1s infinite;
}
.content h1 {
        color: #e74c3c;
        font-size: 2.5em;
}
/* Articles style */
.content article {
        background: #f4f4f4;
        border: 2px solid #2c3e50;
        margin: 30px auto;
        padding: 20px;
        opacity: 0.9;
        text-align: left;
}
@keyframes dichuyen{
	from{margin-left: 500px;}
	to{margin-left: 50px;}
}
